/* work-sens font embaded */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* -----------------------------------------------shared styles----- */
.display-flex{
  display: flex;
}
.background-color{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  border-radius: 8px;
  font-size: 1.25rem;
  padding: 24px 20px;
  border: none;
}
main > section{
  margin-top: 130px;
}

/* -------------------------------------------- header style--------*/
.dark1{
  color: #131313;
}
.dark2{
  color:#424242;
}
.dark3{
  color: #727272;
}
.font45{
  font-size: 2.8rem;
  font-weight: bold;
}
.font20{
  font-size: 1.25rem;
  font-weight: 600;
}

/* ---------------------------------------------- navbar styles------*/

.navbar{
  justify-content: space-between;
  margin:20px 20px;
  align-items: center;
}
.brand{
  font-weight: bold;
  font-size: 2.7rem;
}
.nav-items{
  list-style: none;
}
.nav-link{
  font-size: 1.1rem;
  text-decoration: none;
  padding: 20px;
}
.navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* ---------------------------------------------- banner style------ */
.banner{
  margin: 0 auto;
}
.banner-contant{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-size: 4rem;
  font-weight: bold;
}
.banner-desc{
  font-size: 1rem;
  font-weight: 400;
}
.banner-img{
  width: 100%;
}

/* -------------------------------------------team section style ------ */
.team{
  align-items: center;
  justify-content: center;
}
.team-images{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;

}
.team-contant{
  max-width: 537px;
  max-height: 304px;
  margin-left: 70px;
}
.img-div{
  max-width: 342px;
  max-height: 342px;
}
.team-title{
  font-size: 2.8rem;
}
#quick-list{
  font-weight: 500;
}
#of-our{
  font-weight: 700;
}
#title-team{
  color: #FF900E;
  font-weight: 700;
}
.feature-desc{
  font-size: 1rem;
}
/* -------------------------------------------feature section style ------ */
.feature{
  max-width: 1440px;
  margin: 0 auto;
  gap: 140px;
}
.feature-container{
  max-width: 586px;
  max-height: 982px;

}
.features-divs{
  margin-top: 20px;
  box-shadow:0 5px 30px 0 #0000001a;
  border-radius: 8px;
  padding:30px;
}
.feature-img{
  margin-top: 100px;
}
.fea-img{
  width: 100%;
}
.feature-btn{
  width: 342px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
}
#btn-fea{
  font-size:4rem;
  font-weight: bold;
  color: #ffffff;
  padding: 46px 42px;
}
.btn-fea2{
  font-size:1.56rem;
}
/* ------------------------------------facts section style begains hare------ */

.fact-container{
  max-width: 1440px;
  margin: 0 auto;
}
.fact-title-desc-container{
  max-width: 586px;
}
.fact-main-container{
  justify-content: space-evenly;
  }
.fact-inner-container{
  text-align: center;
}
.facts-fact-container{
  max-width: 242px;
  padding: 30px;
  border: 1px solid #FF900E;
  border-radius: 8px;
  }
.fact-title-desc{
  font-weight: 600px;
}
/* -------------------------------------footer section style starts hare------ */
.footer-container{
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 130px;
}
.footer-title-desc{
  max-width: 542px;
  margin: 0 auto;
  text-align: center;
}
.sopnsors-container{
  margin-top: 50px;
  gap: 155px;
}
.sopnsors-container > img {
  width: 100%;
}
.footer-copyright{
  background-color: #FFF4E7;
  text-align: center;
  padding: 20px 0;
  margin:130px 0 215px 0;
}

.copyright-desc{
  font-weight: 400px;
}

/* -------------------------------------responsive media query------ */



@media screen and (max-width:570px) {
  .nav-link,.navbar{
    flex-direction: column;
  }
  .team {
    flex-direction: column;
  }
  .team-images {
    grid-template-columns: repeat(1,1fr);
  }
  .feature{
    flex-direction: column;
    margin-top: 100px;
  }
  .feature-btn{
  margin-top:-90px;
  margin-left:1px;
 }
 .fact-main-container{
  flex-direction: column;
  gap: 10px;
  align-items: center;
 }
 .sopnsors-container{
  flex-direction: column;
 }
}